<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= title %></title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="stylesheets/sm.min.css">
<!-- <link rel="stylesheet" href="stylesheets/sm-extend.min.css"> -->
<link rel="stylesheet" href="stylesheets/iMusic.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_o6npd0ia149ggb9.css">

</head>
<body>