    </div>
    <!-- page -->

</div>
<!-- page-group -->

<script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/angular1.5.5.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/common.js' charset='utf-8'></script>
<!-- <script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script> -->

<script>
// 设置导航
$(".bar-tab").find(".tab-item."+$("#navbar").val()).addClass("active");
</script>

</body>
</html>